{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }
  